[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
migrate = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
